*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
}
#nav-bar{
    position:sticky;
    top: 0;
    z-index: 10;      
}
.navbar{
    background-image: linear-gradient(to right,#a517ba,#5f1782);
    padding: 0 !important;
}
.navbar-nav {
    margin-left: auto;
}
.navbar-brand img{
    /* width: 200px; */
    height: 40px;
    padding-left: 20px;
}
.navbar-nav li{
    padding: 0 10px;
}
.navbar-nav li a {
    font-weight: 600;
    color: white;
    float: right;
    text-align: left;
}

.fa-bars{
    color: #fff !important;
    font-size: 30px !important;
}
.navbar-toggler{
    outline: none !important;
}

/*    banner section */
#banner{
    background-image: linear-gradient(to right, #a517ba,#5f1782);
    color: white;
    padding-top: 5%;
}
.promo-title{
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
}
.play-btn{
    width: 45px;
    margin: 20px;
}
#banner a{
    color: white;
    text-decoration: none;
}
.bottom-img{
    width: 100%;
}
/* ------------------ Services Section------------------------- */
#services{
    padding: 80px 0;
}
.service-img{
    width: 100px;
    margin-top: 20px;
}
.services{
    padding: 20px;

}
.services h4{
    padding: 5px;
    margin-top: 25px;
    text-transform:uppercase ;
}
/* .title{
    margin-top: 10px ;
    margin-bottom: 20px;
} */
.title{
    margin-bottom: 50px;
}

.title::before{
    content: '';
    width: 200px;
    height: 5px;
    background: #5f1782;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);

}
.title::after{
    content: '';
    width: 50px;
    height: 10px;
    background: #5f1782;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(7px);
}
#services .btn-primary{
    border-radius:20px;
    box-shadow: none;
    padding: 8px 25px;
    background-image: linear-gradient(to right, #a517ba,#5f1782);
   }
#about-us{
    background: #f8f9fa;
}
.about-title{
    font-size: 40px;
    margin-top: 20px;
}
.about-us ul li{
    padding: 10px 0;
}
.about-us ul {
    margin-left: 20px;
}

/* ---------Testimonial Section------------ */
#Testimonial{
    margin: 100px 0;
    
}
.Testimonial{
    border-left: 4px solid #7b1798;
    margin-top: 50px;
   
}
.Testimonial img{
    width: 150px;
    height: 150px;
    padding: 10px;
    margin: 0px 10px;
    border-radius: 50%;
}
.Testimonial p{
    margin-right: 60px;
    /* margin-top: 50px; */
}
.user-details{
    font-size: 12px;
    display: inline-block;
}
/* -----------Social Media Icons-------------- */
#social-media{
       
       padding: 100px 0;
       background: #f8f9fa;
}
#social-media p{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;
}
.social-icon img{
    width: 60px;
    transition: 0.5s;
    margin-right:50px ;
}
.social-icon a:hover img{
    transform: translateY(-10px);
}
/* -----------footer section------------- */
#footer{
    background-image: linear-gradient(to right, #a517ba,#5f1782);
   color: #fff;
}
.footer-img{
    width: 100%;
}
.footer-box{
    padding: 20px;
}
.footer-box img{
    width: 120px;
    margin-bottom: 20px;
}
.footer-box .fa{
     margin-left: 8px;
     font-size: 25px;
     height: 40px;
     width: 40px;
     text-align: center;
     padding-top: 7px;
     border-radius: 2px;
     background-image: linear-gradient(to right, #a517ba,#5f1782);
   
}
.footer-box .form-control{
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    margin-top: 25px;
    max-width: 250px;
}
.footer-box .btn-primary{
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    margin-top: 30px;
    color: white;
    background-image: linear-gradient(to right, #a517ba,#5f1782);
   
}